
<aside class="col-md-3">
    <ul class="list-group">
        <a class="list-group-item @ManageNavPages.MyOrdersNavClass(ViewContext)" asp-controller="Order" asp-action="MyOrders"> Histórico de pedidos </a>
        <a class="list-group-item @ManageNavPages.FavoriteProductNavClass(ViewContext)" asp-controller="Client" asp-action="FavoriteProduct"> Produtos Favoritos </a>
        <a class="list-group-item @ManageNavPages.ReturnsAndRefundsNavClass(ViewContext)" asp-controller="Client" asp-action="ReturnsAndRefunds"> Devolução e reembolsos </a>
        <a class="list-group-item @ManageNavPages.ProfileNavClass(ViewContext)" asp-controller="Client" asp-action="Profile"> Perfil </a>
        <a class="list-group-item @ManageNavPages.AddressNavClass(ViewContext)" asp-controller="Client" asp-action="Address"> Endereço </a>
        <a class="list-group-item @ManageNavPages.SecurityNavClass(ViewContext)" asp-controller="Auth" asp-action="Security"> Segurança </a>
        <a class="list-group-item @ManageNavPages.TwoTactorAuthenticationNavClass(ViewContext)" asp-controller="TwoFactor" asp-action="GetTwoFactorAuthentication"> 2FA Authenticação </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" asp-controller="Auth" asp-action="Logout"> <i class="fa fa-power-off"></i> <span class="text">Sair</span> </a>
</aside>