@model IEnumerable<OrderViewModel>
@{
    ViewData["Title"] = "Meus Pedidos";
}
<br />
<div class="row">
    <partial name="_MenuClientProfile" />
    <main class="col-md-9">
        <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">@ViewData["Title"]</strong>
                <span></span>
            </header>            
            <div class="table-responsive">
                <table class="table table-hover">
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td width="65">
                            <img src="~/imagens/produtos/@item.Itens.Select(x=>x.Image).First()" class="img-xs border">
                        </td>
                        <td>
                            <p class="title mb-0">@item.Itens.Select(x => x.Name).First() </p>
                            <var class="price text-muted">@this.CurrencyFormat(item.Itens.Select(x => x.Value).First())</var>
                        </td>
                        <td> Total do pedido: @this.CurrencyFormat(item.TotalValue) </td>
                        <td> Total de Itens: @item.Itens.Count() </td>
                        <td width="250"> <a href="#" class="btn btn-outline-primary">Rastrear Pedido</a> <a href="#" class="btn btn-light"> Detalhes </a> </td>
                    </tr>
                    }

                </table>
            </div>
        </article>
    </main>
</div>
