@model PagedViewModel<ProductViewModel>
@{
    ViewData["Title"] = "Vitrine";
}
<nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Supermarket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Partnership</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Baby &amp Toys</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Fitness sport</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Clothing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Furnitures</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> More</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Foods and Drink</a>
                        <a class="dropdown-item" href="#">Home interior</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Category 1</a>
                        <a class="dropdown-item" href="#">Category 2</a>
                        <a class="dropdown-item" href="#">Category 3</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="section-main bg padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">
                <nav class="card">
                    <ul class="menu-category">
                        <li><a href="#">Best clothes</a></li>
                        <li><a href="#">Automobiles</a></li>
                        <li><a href="#">Home interior</a></li>
                        <li><a href="#">Electronics</a></li>
                        <li><a href="#">Technologies</a></li>
                        <li><a href="#">Digital goods</a></li>
                        <li class="has-submenu">
                            <a href="#">More items</a>
                            <ul class="submenu">
                                <li><a href="#">Submenu name</a></li>
                                <li><a href="#">Great submenu</a></li>
                                <li><a href="#">Another menu</a></li>
                                <li><a href="#">Some others</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside>
            <div class="col-md-9">
                <article class="banner-wrap">
                    <img src="~/imagens/banner.jpg" class="w-100 rounded">
                </article>
            </div>
        </div>
    </div>
</section>


<section class="section-name padding-y-sm">
    <div class="container">

        <header class="section-heading">
            <a href="#" class="btn btn-outline-primary float-right">Ver Todos</a>
            <h3 class="section-title">Produtos Mais Vendidos</h3>
        </header>


        <div class="row">

            @foreach (var productItem in Model.List.OrderBy(x => x.Name))
            {
                <div class="col-md-3">
                    <div class="card card-product-grid">
                        <a asp-controller="Catalog" asp-action="GetProduct" asp-route-id="@productItem.Id" class="img-wrap"> <img src="~/imagens/produtos/@productItem.Image"> </a>
                        <figcaption class="info-wrap">
                            <a asp-controller="Catalog" asp-action="GetProduct" asp-route-id="@productItem.Id" class="title">@productItem.Name</a>
                            <div class="price mt-1">@this.CurrencyFormat(productItem.Value)</div>
                            <div class="price mt-1">@this.StockMessage(productItem.QuantityStock)</div>
                        </figcaption>
                    </div>
                </div>
            }


        </div>
        <nav>
            <ul class="pagination justify-content-center">

                @if (@Model.PageIndex == 1)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-controller="Catalog" asp-route-pageSize="@Model.PageSize" asp-route-pageIndex="@(Model.PageIndex - 1)" asp-route-query="@Model.Query" tabindex="-1">Previous</a>
                    </li>
                }

                @{
                    for (int i = 1; i < Model.TotalPages + 1; i++)
                    {
                        if (Model.PageIndex == i)
                        {
                            <li class="page-item active">
                                <a class="page-link" asp-action="Index" asp-controller="Catalog" asp-route-pageSize="@Model.PageSize" asp-route-pageIndex="@i" asp-route-query="@Model.Query">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="Index" asp-controller="Catalog" asp-route-pageSize="@Model.PageSize" asp-route-pageIndex="@i" asp-route-query="@Model.Query">@i</a>
                            </li>
                        }

                    }
                }
                @if (@Model.PageIndex == Model.TotalPages)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-controller="Catalog" asp-route-pageSize="@Model.PageSize" asp-route-pageIndex="@(Model.PageIndex + 1)" asp-route-query="@Model.Query">Next</a>
                    </li>
                }


            </ul>
        </nav>
    </div>
</section>
